body{
    margin: 25px 50px 75px;
    font-family: Comic Sans MS;
}

h4{
    display: inline-block;
    color: #000033;
    /*font-family: Arial;*/
    float: center;
}

.containerSearchButton{
    display: inline-block;
    float: right;
    line-height: 10px;
    /*font-family: Arial;*/
    float: center;
}


.home_link{
    float: left;
    display: inline-block;
    padding-top: 15px;
    padding-right: 10px;
}

.searchButton{
    display: inline-block;
    float: right;
    padding-top: 15px;
    cursor:pointer;
    color: #008EC7;
}

.containerBlog{
    /*border-radius: 20px;*/

    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    float: center;
    background-color: #cce0ff;
    text-align: left;
    font-family: Comic Sans MS;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

}
h1{
    color:#000033;
}
.textBlog{
    color:#000033;
}

.posts{
    background-color: white;
    /*border-radius: 20px;*/
    height: 280px;
    width: 1185px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #000033;
    /*border-radius: 4px;*/
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

h3{
    color: #008EC7;
}

.informationP{
    font-family: Arial;
    color: #008EC7;
}


.view_more_post{
    border-radius: 10px;
}

.Newest{
    display:inline-block;
}


.searchColor{
    background-color: #3385ff;
    color: #001f4d;
}

